package dao

import (
	uuid "github.com/satori/go.uuid"
	base "gitlab.com/clowd9/platform/base/db"
)


type {{.ProjectNameTitle}}Dao interface {
	Get{{.ProjectNameTitle}}(id uuid.UUID) (*base.{{.ProjectNameTitle}}, error)
}
